@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
 }

 header {
    height: 90px;
    display: flex;
    justify-content: space-around;  
    align-items: center;

    }
    nav {
    width: 60%;
    }

    ul {
    display: flex;
    width: 100%;
    justify-content: space-between;

    }

    li {   list-style: none;
    color: red;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: "kdan thmor pro", sans-serif;
    }

    li:hover {
    color: white;
    }
    
#logo {
    width: 150px;
    height: auto;
}

h1{
    color: #fff;
    font-size: 30px;
    font-family: "kdan thmor pro", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 3px 3px 5px red;
}

    form {
        height: 220px;
        width: 300px;
        background-color: #2b000000;
        margin: 20px 600px; 
        color: #fff;
        display: flex;
        flex-direction: column;
        border: 3px double white;
        font-size: 18px;
    }

    label{
        display: flex;
        font-family: "kadan thmor pro", sans-serif;
        white-space: nowrap;
        background-color: #2b000000;
        margin: 5px 15px;
        font-size: 18px;
    }

    input {
        width: 200px;
        height: 30px;
        background-color: #2b000000;
        color: #fff;
        font-family: "kadan thmor pro", sans-serif;
        border:1px double #fff;
        font-size: 18px ;
        margin: 10px ;
        text-transform: capitalize;     
    }

    #pagamento{
        width: 95%;
        height: 600px;
        background-color: #2b000000;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRISqqlTPJBtuXNApQU2L8Xquzbh9M4vL9yUg&usqp=CAU);
        background-repeat: no-repeat;
        background-size:cover;
        margin: auto;
    }


    .cartao {
       display: block;
        flex-direction: inherit;
       border: 3px double white ;
       width: 300px;
       background-color: #2b000000;
       margin-top: 10px;
    }

   

    .cartao input {
        width: 48px;
        text-align: center;
        background: #2b000000;
        
    }

    .card{
        border: 3px solid white;
        width: 300px;
        margin-top: 10px;
        background-color: #2b000000;
        border: 3px double white;
    }

   .card input{
        width: 40px;
        text-align: center;
    }

    .titular{
        background-color: #2b000000;
        width: 300px;
        border: 3px double white;
        margin-top: 10px;
        font-family: "kadan thmor pro", sans-serif;
        font-size: 18px;
    }

    .titular input{
        width: 200px;
    }


       
    .button {
        height: 30px;
        background-color: red;
        color: #fff;
        padding: 8px 30px;
        border-radius: 15px;
        cursor: pointer;
        transition: .8s;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        border: none;
        outline: none;
        margin: 10px 80px;
    }

    .button:hover {
        background-color: #fff;
        color: #000;
    }
   
   


    footer {
        height: 300px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    span {
        color: #fff;
        font-family: "kdan thmor pro", sans-serif;
    }

    .footer-navigation {
        display: none;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 768px){

        .footer-navigation {
            display: block;
        }

        nav{
            display: none;
        }

        .button{
            width: 50%;
            margin-top: 20px;
        }

        h1{
            color: #fff;
            font-size: 30px;
            font-family: "kdan thmor pro", sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-shadow: 3px 3px 5px red;
        }

        form {
            height: 220px;
            width: 300px;
            background-color: #2b000000;
            margin: 15px 50px; 
            color: #fff;
            display: flex;
            flex-direction: column;
            border: 3px double white;
            font-size: 18px;
        }
    
        label{
            display: flex;
            font-family: "kadan thmor pro", sans-serif;
            white-space: nowrap;
            background-color: #2b000000;
            margin: 5px 15px;
            font-size: 18px;
        }
    
        input {
            height: 30px;
            color: #fff;
            font-family: "kadan thmor pro", sans-serif;
            border:1px double #fff;
            font-size: 18px ;
            margin: 10px ;
            text-transform: capitalize;     
        }
    
        #pagamento{
            background-color: #2b000000;
            background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRISqqlTPJBtuXNApQU2L8Xquzbh9M4vL9yUg&usqp=CAU);
            background-repeat: no-repeat;
            background-size:cover;
            margin: auto;
        }
    
    
        .cartao {
           display: block;
            flex-direction: inherit;
           border: 3px double white ;
           width: 300px;
           background-color: #2b000000;
           margin-top: 10px;
        }
    
       
    
        .cartao input {
            width: 48px;
            text-align: center;
            background: #2b000000;
            
        }
    
        .card{
            border: 3px solid white;
            width: 300px;
            margin-top: 10px;
            background-color: #2b000000;
            border: 3px double white;
        }
    
       .card input{
            width: 40px;
            text-align: center;
        }
    
        .titular{
            background-color: #2b000000;
            width: 300px;
            border: 3px double white;
            margin-top: 10px;
            font-family: "kadan thmor pro", sans-serif;
            font-size: 18px;
        }
    
        .titular input{
            width: 200px;
        }
    


    }